*.log
/.idea/
/node_modules/
/public/
/resources/html/
/resources/sass/common/_sprite.scss
/resources/sass/common/_svg.scss
/resources/assets/svg/
/resources/assets/images/sprite.png
/resources/assets/images/sprite.svg
