{% extends './base.twig' %}

{% set modal = {
   id: 'modalSuccess',
   title: 'Thanks',
   mod: 'success',
} %}

{% block modal_content %}
   <p class="modal__desc">
      success
   </p>
{% endblock %}

