{% extends '../base.twig' %}
{% set route = 'home' %}

{% block content %}

    {# section BEGIN #}
    <section class="section">
        <div class="center">
            <div class="app" id="app"></div>
        </div>
    </section>
    {# section END #}

{% endblock %}


