@mixin btn {
  position: relative;
  border: 2px solid #33712f;
  max-width: 160px;
  width: 100%;
  height: 44px;
  transition: $TnsDefault;
  cursor: pointer;

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -1px;
    color: #fff;
    font-size: 13px;
    font-family: $FMuliSB;
    transition: $TnsDefault;
  }

  &__icon {
    transition: $TnsDefault;
  }

  &._full {
    max-width: none;
  }

  &._modal {
    height: 40px;
  }

  &._border {
    background-image: linear-gradient(to right, #F96D86, #F89A15); 

    &:hover {
      &:before {
        opacity: 0;
      }
    }

    .btn__text {
        color: $CAcsent-heading-hero;
    }

    &:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        background-color: #F1F5F6;
        border-radius: 20px;
        transition: 0.3s opacity ease-in-out;
    }
  }

  &:hover {
    background-image: linear-gradient(to right, #F89A15, #F96D86); 

    .btn__icon {
      fill: #fff;
    }

    .btn__text {
      color: #ffffff;
    }
  }

  &:active {
    opacity: 0.5;
  }
};