<div class="footer {% if mod %}_{{mod}}{% endif %}">    
    <div class="container">    
        <div class="row">
            <div class="col-md-12">
                <div class="footer__content">
                   
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="footer__adress">
                    <span>5091 Sunbeam Rd,</span>
                    <span>Jacksonville, FL</span>
                    <span>32257</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer__phone">
                    <a href="tel:19041111111">+1 904-111-1111</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer__email">
                    <a href="mailto:info@alliesisland.us">info@alliesisland.us</a>
                </div>
            </div>
            <div class="col-md-3">
                <ul class="footer__socials">
                    <ul class="socials">
                        {% for item in footer.socials %}
                        <li class="socials__item">
                            <a class="socials__link">
                                {{ svg.icon({"name": item.title, "mod": "custom__class"}) }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="footer__coopyright col-md-12">2018 © SmPandD</div>
        </div>
    </div>
</div>