.form {
    &._flex {
        @include flex-row();

        @media(max-width: $screen-md) {
            flex-direction: column;
        }
    }

    @media(max-width: $screen-md) {
        &__col + &__col {
            margin-top: 10px;
        }
    }
    
    &__col {
        flex: 1;
        margin: 0 10px;

        &._flex-column {
            display: flex;
            flex-direction: column;
        }
    }

    &__group + &__group {
        margin-top: 10px;
    }

    &__group {
        &._grow {
            flex: 1;
        }
    }
    
    &__content-wr {
        padding-right: 10px;
        padding-left: 10px;

        .form-input__wr:last-child {
            margin-bottom: 0;
        }
    }   

    &__submit {
        margin: 0 -10px;
    }
}