////Fonts
@import "./mixins/font-face";

@include font-face(Roboto, '~fonts/Roboto/roboto-regular-webfont' , normal, normal, ttf woff2 woff);
@include font-face(RobotoCondensed, '~fonts/RobotoCondensed/robotocondensed-regular' , normal, normal, ttf woff2 woff);
@include font-face(Muli, '~fonts/Muli/muli-regular' , normal, normal, ttf woff2 woff);
@include font-face(MuliSemiBold, '~fonts/Muli/muli-semibold' , normal, normal, ttf woff2 woff);
@include font-face(Dosis, '~fonts/Dosis/Dosis-regular' , normal, normal, ttf woff2 woff);
@include font-face(DosisSemiBold, '~fonts/Dosis/Dosis-semibold' , normal, normal, ttf woff2 woff);
@include font-face(DosisMedium, '~fonts/Dosis/Dosis-medium' , normal, normal, ttf woff2 woff);
@include font-face(DosisBold, '~fonts/Dosis/Dosis-bold' , normal, normal, ttf woff2 woff);


$BFont-size: 16px;
$BLine-height: 1.2;
$BFont-color: #666;
$TnsDefault: all ease-out 300ms;
$TnsD_Default: 300ms;

$FRoboto: 'Roboto';
$FMuli: 'Muli', Arial, sans-serif;
$FMuliSB: 'MuliSemiBold', Arial, sans-serif;

$FDosis: 'Dosis', Arial, sans-serif;
$FDosisSB: 'DosisSemiBold', Arial, sans-serif;
$FDosisM: 'DosisMedium', Arial, sans-serif;
$FDosisB: 'DosisBold', Arial, sans-serif;

$FRobotoCondensed: 'RobotoCondensed', Arial, sans-serif;

$FBase:             $FMuli, Arial, sans-serif;

// USED FONTS
// ------------------------------------
$FDefault:              $FBase;


//USED COLORS
$CAcsent-heading-hero: #F9657D;
$CAcsent: #DD0212;
$CAcsent-sec: #F89C11;
$CDark: #333333;
$CDarkLight: #666666;
$CBlack: #000000;
$CBorder: #E3EC5B;
$CArrows: #DBE824;
$CCardCoast: #6E4439;

$CNavSecond: #667189;
$CBreadcrumbs: #999999;


// FONTSIZES
$SSectionH: 28px;
$SSectionSec: 24px;
$SSectionT: 14px;