$icons-svg: (
    lifeline:
    (width: (92/42),
    height: 42),
    s-arrow-down:
    (width: (8/7),
    height: 7),
    s-close:
    (width: (42/42),
    height: 42),
    s-facebook:
    (width: (24/24),
    height: 24),
    s-google:
    (width: (24/24),
    height: 24),
    s-instagram:
    (width: (24/24),
    height: 24),
    s-phone:
    (width: (18/22),
    height: 22),
    s-play:
    (width: (10/11),
    height: 11),
    s-slider-next:
    (width: (80/80),
    height: 80),
    s-slider-prev:
    (width: (80/80),
    height: 80),
    s-star:
    (width: (16/15),
    height: 15),
    s-twitter:
    (width: (24/24),
    height: 24),
    star:
    (width: (17/16),
    height: 16),
);


