.navbar-nav {
  margin-left: -10px;
  margin-right: -10px;

  &._dark {
    .navbar-nav__link {
      color: $CNavSecond;

      @media(max-width: $screen-md) {
        color: $CWhite;
        text-align: center;
      }
    }
  }

  @media(min-width: $screen-md - 1) {
    @include flex-row;
    @include gutters(10);
  }

  @media(max-width: $screen-md) {
    &__item-wr + &__item-wr {
      margin-top: 50px;
    }
  }

  @media(max-width: $screen-smx) {
    &__item-wr + &__item-wr {
      margin-top: 30px;
    }
  }

  &__item {
    &-wr {
      margin: 0 5px;
    }

    @media(max-width: $screen-md) {
      .tab__icon {
        display: none;
      }

      &.open {
        .navbar-nav__link {
          &:before {
            content: unset;
          }
        }
      }
    }

    @media(min-width: $screen-sm - 1) {
      &.open {
        .navbar-nav__submenu-wr {
          pointer-events: all;
          opacity: 1;
          transform: scale(1);
        }

        .navbar-nav__link {
          color: $CAcsent;

          &:before {
            background-color: #fff;
          }
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 15px;
    display: block;
    font-family: $FMuli;
    text-transform: none;
    font-size: $SSectionT;
    color: #fff;
    transition: 0.3s color;

    @media(max-width: $screen-md ) {
      color: $CWhite;
      text-align: center;
      font-size: 36px;

      &:before {
        content: unset;
      }
    }

    @media(max-width: $screen-smx) {
      font-size: 24px;
    }

    &:hover {
      color: $CAcsent;
    }

    span {
      position: relative;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -10px;
      right: -10px;
      bottom: 0;
      background-color: transparent;
      border-radius: 22px;
      transition: 0.3s background-color ease-in-out;
    }
  }

  &__sublink {
    display: inline-block;
    padding: 4px;
    line-height: 1.6;
    color: #667189;
    font-family: $FMuliSB;
    letter-spacing: 1.3px;
    font-size: 11px;
  }

  &__submenu-wr {
    display: flex;
    position: absolute;
    top: 100%;
    max-width: 805px;
    width: 100%;
    margin-top: 30px;
    right: 0;
    pointer-events: none;
    background-color: #E9F7FF;
    border-radius: 40px;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;
    transform-origin: right top;
    transform: scale(0);
  }

  &__submenu {
    padding: 35px 50px;
  }

  &__submenu-item {
    &.active {
      .navbar-nav__tab-link {
        color: $CAcsent;
      }
    }
  }

  &__tab-content {
    position: relative;
    flex: 1;
    background-color: #fff;
  }

  &__tab-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    max-height: 295px;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__tab-item {
    // width: 50%;
    white-space: nowrap;
    padding-right: 30px;
  }

  &__tab-content-link {
    display: block;
    font-family: $FDosis;
    font-size: 11px;
    line-height: 1.5;  
    padding: 2px;  
  }

  &__tab-pane {
    display: flex;
    pointer-events: none;
  }


}